h3{
  position:relative;
  margin: 0 auto;
}
.nav{
  padding:1.5%;
  background-color:#003d33;
}
.container{
  padding-top:12%;
}
hr{
    color: #00695c;
    background-color: #00695c;
}
#div_body{
  border-style: solid;
  border-width: 0.1px;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-color:#003d33;
}
#headers{
  border-style: solid;
  border-width: 0.1px;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-color:#003d33;
}
